//VARIABLES
$colorTitulo: white;
header{background-color: black;}

$colorPrimario: green;
$colorSecundario: orange;
$bgPrimario: red;
$bgSecundario: gray;
$colorNegro: white;
$colorBlanco: black;

h3{
	color: colorPrimario;
}

footer{
	color: ColorFooter;
}